<!DOCTYPE html>
<div class="">
    <h1 class="text-2xl font-bold mb-4">Dashboard</h1>

    <div class="flex space-x-4 mb-6 items-center justify-around w-screen">
        <div class="flex-1 max-w-md">
            <p>Calories</p>
            <div class="bg-gray-200 rounded-full h-6">
            <div id="calories-bar" class="bg-blue-600 h-6 rounded-full" style="width: 0%;"></div>
            </div>
            <p class="text-sm text-gray-500" id="calories-text">0 kcal</p>
        </div>

        <div class="flex-1 max-w-md">
            <p>Protein</p>
            <div class="w-full bg-gray-200 rounded-full h-6">
            <div id="protein-bar" class="bg-blue-600 h-6 rounded-full" style="width: 0%;"></div>
            </div>
            <p class="text-sm text-gray-500" id="protein-text">0 g</p>
        </div>

        <div class="flex-1 max-w-md">
            <p>Fat</p>
            <div class="w-full bg-gray-200 rounded-full h-6">
            <div id="fat-bar" class="bg-blue-600 h-6 rounded-full" style="width: 0%;"></div>
            </div>
            <p class="text-sm text-gray-500" id="fat-text">0 g</p>
        </div>
    </div>
</div>